*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,3,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
 display: flex;
 padding: 2% 6%;
 justify-content:space-between;
 align-items: center;
}

.hamburger .line{
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 5px 0;
}

.hamburger{
    display: none;
    cursor: pointer;
}

nav img{
    width: 150px;
}

/* .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
} */
.nav-link{
    display: flex;
    justify-content: space-around;
}

.nav-link li{
    list-style: none;
    padding: 0 30px;
}

.nav-link li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    .nav-link{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 8vh;
      height: 70vh;
      width: 100%;
      background-color: #f44336;
      transform: translateX(100%);
      transition: all 0.4s ease-in;
      z-index: 1;
    }

    /* .nav-link li{
        opacity: 0;
    } */

    .hamburger{
        display: block;
    }

    .nav-active{
        transform: translateX(0%);
    }

   
}



/**************************** Course ***************************/

.course{
    width: 80%;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 15px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0,0,0.2);
}


                                           /************Campus****************/

.campus{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: 00.5s;

}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

                                         /* Facilities*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
 

/* Testimonials*/

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testi-col{
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    background: #fff3f3;
    margin-bottom: 5%;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testi-col img{
    border-radius: 50%;
    height: 40px;
    margin-left: 5px;
    margin-right: 40px;
}

.testi-col p{
    padding: 0;
}

.testi-col h3{
    margin-top: 15px;
    text-align:left;
}

@media (max-width: 700px){
    .testi-col img{
        margin-left: 0;
        margin-right: 15px;
    }
}


                                       /* Call to action*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align:center;
    border-radius: 10px;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px){
    .cta h1{
font-size: 24px;
    }
    
}

                                        /* Footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 600;
}

.footer .made-history h1{
    font-size: 35px;
}

.footer .made-history h4{
    margin-top: 0px;
}

.footer .made-history h1:hover{
    font-size: 45px;
}

.footer .made-history h1::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.2s;
}

.footer .made-history h1:hover:after{
    width: 100%;
}



.footer .made-history h4:hover{
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
}

.footer .made-history{
    border: 10px solid black;
    display: inline-block;
    background: transparent;
    width: 30%;
    padding: 20px;
    cursor: pointer;
    margin-top: 50px;
    opacity: 0.5;
    transition: 00.5s;
}

.footer .made-history:hover{
    bottom: 49%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/salam.jpg);
    background-position:center;
    background-size: cover;
    border: 14px solid #777;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    color: #fff;
    opacity: 1;


}

.footer .made-history::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.footer .made-history::before{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}

.footer .made-history:hover::after{
    width: 100%;
}

.footer .made-history:hover::before{
    width: 100%;
}

